.panel-btn {
	margin-bottom: 0;
}
.form-footer.centered {
	text-align: center;
}
.lib-bg{
 	background: url(./bg.jpg);
 	background-repeat: no-repeat;
 	background-size: cover;
 	padding-top: 0;
 	min-height: 100%;
}
.fixed-footer{
 	position: fixed;
 	bottom: 0;
}

.no-mb {
    margin-bottom: 0;
}

.abs-loader{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}