<layout>

    <!-- Blog Post -->

    <!-- Title -->
    <h1>{{ topic?.title }}</h1>

    <!-- Author -->
    <p class="lead">
        by <a href="#">{{ topic?.author?.name }}</a>
    </p>

    <!-- Date/Time -->
    <p><span class="glyphicon glyphicon-time"></span> Posted on {{ topic?.created }}</p>
    <hr>

    <p>{{ topic?.content }}</p>

    <a [href]="fileUrl" class="btn btn-primary btn-lg"><i class="fa fa-download" aria-hidden="true"></i> Tai Xuong</a>
    <hr>

    <!-- Blog Comments -->

    <!-- Comments Form -->
    <div class="well">
        <h4>Viết bình luận ...<span class="glyphicon glyphicon-pencil"></span></h4>
        <form role="form">
            <div class="form-group">
                <textarea [(ngModel)]="comment" name="comment" id="comment-input" class="form-control" rows="3"></textarea>
            </div>
            <button type="submit" (click)="sendComment()" class="btn btn-primary">Gửi</button>
        </form>
    </div>

    <hr>

    <!-- Posted Comments -->
    <div *ngIf="topic?.comments">
        <!-- Comment -->
        <div *ngFor="let comment of topic.comments" class="media">
            <a class="pull-left" href="#">
                <img class="media-object" src="http://placehold.it/64x64" alt="">
            </a>
            <div class="media-body">
                <h4 class="media-heading">{{ comment.author.name }}
                    <small>{{ comment.created }}</small>
                </h4>
                {{ comment.content }}
            </div>
        </div>
    </div>

</layout>