html, body{
  height: 100%;
  font-family: Arial, Helvetica, sans-serif
}

a.active {
  background-color: gray;
}

.simple-notification-wrapper {
    z-index: 999999 !important;
}

.slim-loading-bar{
  z-index: 888888 !important;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}